{%extends 'base.html'%}

{% block content %}
<form method="POST" action="." enctype="multipart/form-data">{%csrf_token%}
		<table class="table">
			{% for model in models %}
			<tr>
				
				<td>

					<label for="{{model}}">{{model}}</label>

				</td>
				<td>
					
					<select name="{{model}}">
					
					{% for header in headers %}	
						<option value="{{header}}">{{header}}</option>
					{% endfor %}
					</select>
				</td>

				
			</tr>
			{%endfor%}
			<button class="add-new">Add New</button>

		</table>
		
		
		
		
		<input type="submit" value="Submit">

</form>
{% endblock %}